#head {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
}
#home,
#cart {
  height: 60px;
  width: 60px;
}
#product ,#cartData{
  text-align: center;

}
#prod {
  width: 100px;
}
#product {
  border: 1px solid black;
}
img {
  height: 50px;
  width: 50px;
}
